body {
  font-family: 'Basis Grotesque Pro', sans-serif;
  font-style: normal;
  line-height: normal;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.heading {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  color: #1a1919;
  font-size: 30px;
  font-weight: 700;
}

/* delimiter */

.delimiter {
  margin: 30px 0;
  text-align: center;
}

.delimiter-text {
  color: #bec5cc;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin: auto;
  text-transform: uppercase;
  display: block;
  position: relative;
}

.delimiter-text::before,
.delimiter-text::after {
  content: '';
  display: block;
  position: absolute;
  width: 186px;
  top: 50%;
  border-top: 1px solid #e3e6e9;
}

.delimiter-text::after {
  right: 0;
}

/* social btn */

.social-btn {
  font-size: 14px;
  text-decoration: none;
  border: 1.2px solid #d3d8dc;
  background: #ffffff;
  padding: 14px 58px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.social-btn-img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.social-btn-text {
  font-weight: 500;
  color: #060e1e;
  display: flex;
  align-items: center;
}
